body{
    background-color: rgba(255, 255, 255, 0.76);
    color: rgb(0, 0, 0);
}
p{
    color: rgb(192, 76, 8);
    font-size: 15px;
}
span{
    color: red;
    font-size: 30px;
}
button{

    background-color: rgb(145, 13, 13);
    color: blanchedalmond;
    padding: 10px 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 2px solid #686868;
    padding: 15px;
}