/*control de imagen con tipos*/
body{
    background-color: rgba(255, 255, 255, 0.76);
    color: rgb(0, 0, 0);
}
p{
    color: rgb(192, 76, 8);
    font-size: 15px;
}
span{
    color: red;
    font-size: 30px;
}
button{

    background-color: rgb(145, 13, 13);
    color: blanchedalmond;
    padding: 10px 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 2px solid #686868;
    padding: 15px;
}
/* control de imagen con ids*/
#contenedor1{
    background-color: green;
    border: 1px solid black;
    padding: 10px;
}

#contenedor2{
    background-color: blue;
    border: 1px solid black;
    width: 100px;
    padding: 10px;
    height: 100px;
}
#contenedor3{
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    height: 100px;
}
#kakashi{
    width: 340px;
    height: 200px;
}
#pain{
    width: 290px;
    height: 200px;
}
#contenedor2:hover{
    background-color: red;
}
#contenedor3:hover{
    background-color: rgb(131, 14, 240);
}
/* control de imagen con clases*/
.control{
    background-color: yellow;
}
.control:focus{
    background-color: orange;
}
/*otorgarle la fuente relacionada a la clase titulos*/ 
.titulos{
    font-family: 'Tilt Neon', cursive;
}
.notitulos{
    font-family: 'Tilt Neon', cursive;
font-family: 'Tilt Warp', cursive;
}
/*colocar una imagen de fondo con un div y una clase imagen*/
.imagen{
    background-image: url("prueba2.jpg");
    width: 600px;
    height: 400px;
    background-position: center top;
    background-size: cover;
   /* border: 5px solid black; linea solida*/
   /* border: 5px dotted black; puntos*/
   /* border: 5px dashed black; rayas */
    border: 5px double black;
    margin: 10px;
    padding: 20px;
}
.container{
    color: white;
    padding: 200px 20px;

}
/*gradiente generada por cssgradient.io*/
.gradiente{
    width: 500px;
    height: 500px;
    background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.xd{
   /* text-align: center;*/
    padding: 245px 250px ;
}
.alineacion{
    text-align: justify;
     /* sombra en el texto;*/
    text-shadow: 1px 2px 4px green;
}
.caja-3{
    height: 100px;
    width: 100px;
    box-shadow: 2px 3px 6px rgb(250, 74, 4);
}
.caja-4{
    width: 80px;
    height: 80px;
    border: 1px black;
    /* relacionar la nimacion creada a la caja ;*/
    animation: mi-animacion 5s;

}
/* hacer animaciones con base en porcentajes y tiempo */
@keyframes mi-animacion{
    0%{
        background-color: red;
        width: 50px;
        height: 50px;
        
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: yellow;
        width: 100px;
        height: 100px;
        margin-left: 100px;
    }
}
#circle {
    background: rgb(255, 0, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 4px rgb(126, 126, 126);
    animation: circulo 8s;

}
@keyframes circulo{
    0%{
        background-color: red;
    }
    25%{
        background-color: orange;
        margin-left: 200px;
        margin-top: 0px;
        margin-bottom: 200px;
        
    }
    50%{
        background-color: purple;
        margin-top: 200px;
        margin-left: 200px;
        
    }
    75%{
        background-color: pink;
        margin-left: 0px;
        margin-top: 200px;
    }
    100%{
        background-color: red;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}